<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neprofinishedgood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".plannedandunplannedmove.MoveStillageActivity"></activity>
        <activity
            android:name=".lookup.LookUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pickandload.PickAndLoadStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pickandload.PickAndLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".receivereturnstillage.ReceiveReturnStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transferstillage.TransferStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mergestillage.MergeStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assignlocationandflt.AssignPlannedAndUnplannedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.qualityhold.QualityHold"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.rejectcompletestillage.RejectCompleteStillage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.rejectquantity.RejectQuantityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.QualityCheckDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".raf.RAFStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".raf.RAFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plannedandunplannedmove.PlannedAndUnPlannedMoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.DashBoardAcivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".updatequantity.UpdateQuantityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>