<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neprofinishedgood">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".base.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".move.MoveTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assigntransfer.AssignTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workorderstartend.WorkOrderStartEndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".productionjournal.ProductionJournal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".move.MoveStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lookup.LookUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pickandload.PickAndLoadStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pickandload.PickAndLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".receivestillage.ReceiveStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transferstillage.TransferStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mergestillage.MergeStillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assign.AssignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.qualityhold.QualityHoldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.rejectcompletestillage.RejectCompleteStillage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.rejectquantity.RejectQuantityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qualitycheck.QualityCheckDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".raf.RAFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".move.MoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.DashBoardAcivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".updatequantity.UpdateQuantityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>