<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neprofinishedgood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lookup.LookUpActivity"></activity>
        <activity android:name=".pickandload.PickAndLoadStillageActivity" />
        <activity android:name=".pickandload.PickAndLoadActivity" />
        <activity android:name=".receivereturnstillage.ReceiveReturnStillageActivity" />
        <activity android:name=".returnstillage.ReturnStillageActivity" />
        <activity android:name=".mergestillage.MergeStillageActivity" />
        <activity android:name=".assignlocationandflt.AssignLocationAndFltActivity" />
        <activity android:name=".qualitycheck.qualityholdandmove.QualityHoldAndMove" />
        <activity android:name=".qualitycheck.rejectcompletestillage.RejectCompleteStillage" />
        <activity android:name=".qualitycheck.rejectquantity.RejectQuantityActivity" />
        <activity android:name=".qualitycheck.QualityCheckDashboardActivity" />
        <activity android:name=".counting.CountingStillageActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".counting.CountingActivity" />
        <activity android:name=".putaway.PutAwayActivity" />
        <activity android:name=".dashboard.DashBoardAcivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>